In [24]:
import pandas as pd
df_confirmed = pd.read_csv('./final_df.csv')
df_confirmed.head()

,Country_Region,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,6/08/2020,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020
0,Azerbaijan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Afghanistan,0,0,0,0,0,0,0,0,0,...,20917,21459,22142,22890,23546,24102,24766,25527,26310,26874
2,Albania,0,0,0,0,0,0,0,0,0,...,1263,1299,1341,1385,1416,1464,1521,1590,1672,1722
3,Algeria,0,0,0,0,0,0,0,0,0,...,10265,10382,10484,10589,10698,10810,10919,11031,11147,11268
4,Andorra,0,0,0,0,0,0,0,0,0,...,852,852,852,852,853,853,853,853,854,854

In [25]:
df_confirmed.shape

(238, 149)

In [26]:
# 국가코드 ios2를 통해 국기 이미지를 가져와야 하는데 Namibia의 코드가 NA이다.
# 결측치 : ‘’, ‘#N/A’, ‘#N/A N/A’, ‘#NA’, ‘-1.#IND’, ‘-1.#QNAN’, ‘-NaN’, ‘-nan’, ‘1.#IND’, ‘1.#QNAN’, ‘’, ‘N/A’, ‘NA’, ‘NULL’, ‘NaN’, ‘n/a’, ‘nan’, ‘null’
# keep_default_na=False, na_values='' 사용
country_info = pd.read_csv('./materials/00_materials/COVID-19-master/csse_covid_19_data/UID_ISO_FIPS_LookUp_Table.csv', encoding='utf-8-sig', keep_default_na=False, na_values='')
country_info.head()

,Unnamed: 0,Unnamed: 0.1,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key
0,0,0,NaN,BW,NaN,NaN,NaN,NaN,NaN,Botswana,NaN,NaN,Botswana
1,1,1,NaN,BI,NaN,NaN,NaN,NaN,NaN,Burundi,NaN,NaN,Burundi
2,2,2,NaN,SL,NaN,NaN,NaN,NaN,NaN,Sierra Leone,NaN,NaN,Sierra Leone
3,3,3,4.0,AF,AFG,4.0,NaN,NaN,NaN,Afghanistan,33.93911,67.709953,Afghanistan
4,4,4,8.0,AL,ALB,8.0,NaN,NaN,NaN,Albania,41.15330,20.168300,Albania

In [27]:
country_info[country_info['Country_Region'] == 'Namibia']

,Unnamed: 0,Unnamed: 0.1,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key
115,115,115,516.0,NA,NAM,516.0,NaN,NaN,NaN,Namibia,-22.9576,18.4904,Namibia

In [28]:
country_info = country_info[['iso2', 'Country_Region']]
country_info.head()

  iso2 Country_Region
0   BW       Botswana
1   BI        Burundi
2   SL   Sierra Leone
3   AF    Afghanistan
4   AL        Albania

In [29]:
# 중복행 제거
country_info.shape # 3560개 행이있다

(3560, 2)

In [30]:
country_info = country_info.drop_duplicates(subset='Country_Region', keep='last')
country_info.shape # 180개로 줄음

(180, 2)

In [31]:
# 날짜별 국가별 확진자 수와 국가별 iso2 값 병합
doc_final_country = pd.merge(df_confirmed, country_info, how='left', on='Country_Region')
doc_final_country.head()

,Country_Region,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020,iso2
0,Azerbaijan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,Afghanistan,0,0,0,0,0,0,0,0,0,...,21459,22142,22890,23546,24102,24766,25527,26310,26874,AF
2,Albania,0,0,0,0,0,0,0,0,0,...,1299,1341,1385,1416,1464,1521,1590,1672,1722,AL
3,Algeria,0,0,0,0,0,0,0,0,0,...,10382,10484,10589,10698,10810,10919,11031,11147,11268,DZ
4,Andorra,0,0,0,0,0,0,0,0,0,...,852,852,852,853,853,853,853,854,854,AD

In [32]:
doc_final_country.shape

(238, 150)

In [33]:
# NaN 값 확인
doc_final_country.isnull().sum()

Country_Region     0
1/22/2020          0
1/23/2020          0
1/24/2020          0
1/25/2020          0
                  ..
6/14/2020          0
6/15/2020          0
6/16/2020          0
6/17/2020          0
iso2              60
Length: 150, dtype: int64

In [34]:
# 특정 조건에 부합하는 행 검색
doc_final_country[doc_final_country['iso2'].isnull()]

,Country_Region,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020,iso2
0,Azerbaijan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
9,Aruba,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
14,"Bahamas, The",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
36,Cape Verde,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
37,Cayman Islands,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
40,Channel Islands,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
44,Comoros,0,0,0,0,0,0,0,0,0,...,141,162,162,163,176,176,176,197,197,NaN
50,Cruise Ship,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
52,Curacao,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
54,Czech Republic,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
57,Diamond Princess,0,0,0,0,0,0,0,0,0,...,712,712,712,712,712,712,712,712,712,NaN
61,East Timor,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
70,Faroe Islands,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
74,French Guiana,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
77,"Gambia, The",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
81,Gibraltar,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
83,Greenland,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
85,Guadeloupe,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
86,Guam,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
88,Guernsey,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
95,Hong Kong,0,2,2,5,8,8,8,10,10,...,0,0,0,0,0,0,0,0,0,NaN
96,Hong Kong SAR,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
102,Iran (Islamic Republic of),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
107,Ivory Coast,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
110,Jersey,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
121,Lesotho,0,0,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,NaN
127,MS Zaandam,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,NaN
128,Macao SAR,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
129,Macau,1,2,2,2,5,6,7,7,7,...,0,0,0,0,0,0,0,0,0,NaN
131,Mainland China,547,639,916,1399,2062,2863,5494,6070,8124,...,0,0,0,0,0,0,0,0,0,NaN
132,Malawi,0,0,0,0,0,0,0,0,0,...,455,455,481,481,529,547,555,564,572,NaN
137,Martinique,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
140,Mayotte,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
155,North Ireland,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
159,Others,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
161,Palestine,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
169,Puerto Rico,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
171,Republic of Ireland,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
172,Republic of Korea,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
173,Republic of Moldova,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
174,Republic of the Congo,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
175,Reunion,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
178,Russian Federation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
180,Saint Barthelemy,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
183,Saint Martin,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
186,Sao Tome and Principe,0,0,0,0,0,0,0,0,0,...,514,611,632,639,659,661,662,671,683,NaN
197,South Korea,1,1,2,2,3,4,4,4,4,...,0,0,0,0,0,0,0,0,0,NaN
198,South Sudan,0,0,0,0,0,0,0,0,0,...,1604,1604,1670,1670,1693,1693,1693,1776,1813,NaN
201,St. Martin,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
207,Taipei and environs,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
209,Taiwan*,0,0,0,0,0,0,0,0,0,...,443,443,443,443,443,443,445,445,445,NaN
210,Tajikistan,0,0,0,0,0,0,0,0,0,...,4690,4763,4834,4902,4971,5035,5097,5160,5221,NaN
213,The Bahamas,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
214,The Gambia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
220,UK,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
228,Vatican City,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
230,Viet Nam,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
233,Western Sahara,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,NaN
234,Yemen,0,0,0,0,0,0,0,0,0,...,524,560,591,632,705,728,844,885,902,NaN
237,occupied Palestinian territory,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [35]:
doc_final_country = doc_final_country.dropna(subset=['iso2'])
doc_final_country[doc_final_country['iso2'].isnull()]

Empty DataFrame
Columns: [Country_Region, 1/22/2020, 1/23/2020, 1/24/2020, 1/25/2020, 1/26/2020, 1/27/2020, 1/28/2020, 1/29/2020, 1/30/2020, 1/31/2020, 2/01/2020, 2/02/2020, 2/03/2020, 2/04/2020, 2/05/2020, 2/06/2020, 2/07/2020, 2/08/2020, 2/09/2020, 2/10/2020, 2/11/2020, 2/12/2020, 2/13/2020, 2/14/2020, 2/15/2020, 2/16/2020, 2/17/2020, 2/18/2020, 2/19/2020, 2/20/2020, 2/21/2020, 2/22/2020, 2/23/2020, 2/24/2020, 2/25/2020, 2/26/2020, 2/27/2020, 2/28/2020, 2/29/2020, 3/01/2020, 3/02/2020, 3/03/2020, 3/04/2020, 3/05/2020, 3/06/2020, 3/07/2020, 3/08/2020, 3/09/2020, 3/10/2020, 3/11/2020, 3/12/2020, 3/13/2020, 3/14/2020, 3/15/2020, 3/16/2020, 3/17/2020, 3/18/2020, 3/19/2020, 3/20/2020, 3/21/2020, 3/22/2020, 3/23/2020, 3/24/2020, 3/25/2020, 3/26/2020, 3/27/2020, 3/28/2020, 3/29/2020, 3/30/2020, 3/31/2020, 4/01/2020, 4/02/2020, 4/03/2020, 4/04/2020, 4/05/2020, 4/06/2020, 4/07/2020, 4/08/2020, 4/09/2020, 4/10/2020, 4/11/2020, 4/12/2020, 4/13/2020, 4/14/2020, 4/15/2020, 4/16/2020, 4/17/2020, 4/18/2020, 4/19/2020, 4/20/2020, 4/21/2020, 4/22/2020, 4/23/2020, 4/24/2020, 4/25/2020, 4/26/2020, 4/27/2020, 4/28/2020, 4/29/2020, ...]
Index: []

[0 rows x 150 columns]

In [36]:
#iso2= 'AD'
#flag_link = 'https://www.countryflags.io/' + iso2 + '/shiny/64.png'
#flag_link

def create_flag_link(row):
    flag_link = flag_link = 'https://www.countryflags.io/' + row + '/shiny/64.png'
    return flag_link

doc_final_country['iso2'] = doc_final_country['iso2'].apply(create_flag_link)


doc_final_country.head()

,Country_Region,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,6/09/2020,6/10/2020,6/11/2020,6/12/2020,6/13/2020,6/14/2020,6/15/2020,6/16/2020,6/17/2020,iso2
1,Afghanistan,0,0,0,0,0,0,0,0,0,...,21459,22142,22890,23546,24102,24766,25527,26310,26874,https://www.countryflags.io/AF/shiny/64.png
2,Albania,0,0,0,0,0,0,0,0,0,...,1299,1341,1385,1416,1464,1521,1590,1672,1722,https://www.countryflags.io/AL/shiny/64.png
3,Algeria,0,0,0,0,0,0,0,0,0,...,10382,10484,10589,10698,10810,10919,11031,11147,11268,https://www.countryflags.io/DZ/shiny/64.png
4,Andorra,0,0,0,0,0,0,0,0,0,...,852,852,852,853,853,853,853,854,854,https://www.countryflags.io/AD/shiny/64.png
5,Angola,0,0,0,0,0,0,0,0,0,...,96,113,118,130,138,140,142,148,155,https://www.countryflags.io/AO/shiny/64.png

In [37]:
# 현재 구조에서는 ios2 정보가 가장 마지막 컬럼이다

cols = doc_final_country.columns.tolist()
cols

['Country_Region',
 '1/22/2020',
 '1/23/2020',
 '1/24/2020',
 '1/25/2020',
 '1/26/2020',
 '1/27/2020',
 '1/28/2020',
 '1/29/2020',
 '1/30/2020',
 '1/31/2020',
 '2/01/2020',
 '2/02/2020',
 '2/03/2020',
 '2/04/2020',
 '2/05/2020',
 '2/06/2020',
 '2/07/2020',
 '2/08/2020',
 '2/09/2020',
 '2/10/2020',
 '2/11/2020',
 '2/12/2020',
 '2/13/2020',
 '2/14/2020',
 '2/15/2020',
 '2/16/2020',
 '2/17/2020',
 '2/18/2020',
 '2/19/2020',
 '2/20/2020',
 '2/21/2020',
 '2/22/2020',
 '2/23/2020',
 '2/24/2020',
 '2/25/2020',
 '2/26/2020',
 '2/27/2020',
 '2/28/2020',
 '2/29/2020',
 '3/01/2020',
 '3/02/2020',
 '3/03/2020',
 '3/04/2020',
 '3/05/2020',
 '3/06/2020',
 '3/07/2020',
 '3/08/2020',
 '3/09/2020',
 '3/10/2020',
 '3/11/2020',
 '3/12/2020',
 '3/13/2020',
 '3/14/2020',
 '3/15/2020',
 '3/16/2020',
 '3/17/2020',
 '3/18/2020',
 '3/19/2020',
 '3/20/2020',
 '3/21/2020',
 '3/22/2020',
 '3/23/2020',
 '3/24/2020',
 '3/25/2020',
 '3/26/2020',
 '3/27/2020',
 '3/28/2020',
 '3/29/2020',
 '3/30/2020',
 '3/31/2020',
 '4/01/2020',
 '4/02/2020',
 '4/03/2020',
 '4/04/2020',
 '4/05/2020',
 '4/06/2020',
 '4/07/2020',
 '4/08/2020',
 '4/09/2020',
 '4/10/2020',
 '4/11/2020',
 '4/12/2020',
 '4/13/2020',
 '4/14/2020',
 '4/15/2020',
 '4/16/2020',
 '4/17/2020',
 '4/18/2020',
 '4/19/2020',
 '4/20/2020',
 '4/21/2020',
 '4/22/2020',
 '4/23/2020',
 '4/24/2020',
 '4/25/2020',
 '4/26/2020',
 '4/27/2020',
 '4/28/2020',
 '4/29/2020',
 '4/30/2020',
 '5/01/2020',
 '5/02/2020',
 '5/03/2020',
 '5/04/2020',
 '5/05/2020',
 '5/06/2020',
 '5/07/2020',
 '5/08/2020',
 '5/09/2020',
 '5/10/2020',
 '5/11/2020',
 '5/12/2020',
 '5/13/2020',
 '5/14/2020',
 '5/15/2020',
 '5/16/2020',
 '5/17/2020',
 '5/18/2020',
 '5/19/2020',
 '5/20/2020',
 '5/21/2020',
 '5/22/2020',
 '5/23/2020',
 '5/24/2020',
 '5/25/2020',
 '5/26/2020',
 '5/27/2020',
 '5/28/2020',
 '5/29/2020',
 '5/30/2020',
 '5/31/2020',
 '6/01/2020',
 '6/02/2020',
 '6/03/2020',
 '6/04/2020',
 '6/05/2020',
 '6/06/2020',
 '6/07/2020',
 '6/08/2020',
 '6/09/2020',
 '6/10/2020',
 '6/11/2020',
 '6/12/2020',
 '6/13/2020',
 '6/14/2020',
 '6/15/2020',
 '6/16/2020',
 '6/17/2020',
 'iso2']

In [42]:
# 컬럼 위치 변경
cols.remove('iso2')
cols.insert(1, 'iso2') # 1번 인덱스에 추가

ValueError: list.remove(x): x not in list

In [44]:
# 컬럼명 변겅
cols[1] = 'Country_Flag'

doc_final_country.columns = cols
doc_final_country.head()

In [ ]:
# 파일로 저장
doc_final_country.to_csv('./final_covid_data_for_graph.csv')